:root{
    --sidebarwidth:250px;
}
.showpages
{
    position: relative;
    left:240px;
    top:84px;
    padding-top: 0;
    padding-right: 0;
    /*width:calc(100% - 255px);*/
    overflow: hidden;
    transition:all 0.2s ease-in-out 0s;
    -webkit-transition:all 0.2s ease-in-out 0s;
}

.showpages-sidebar-open
{

    left : var(--sidebarwidth);
    /*margin-left: 1vw;*/
    width: calc(100% - var(--sidebarwidth) );
    /*margin-right: 2%;*/
    /*transition:all 0.5s ease-in-out ;*/
}

.showpages-sidebar-close
{

    /*margin:auto;*/
    left : 0;
    width :100%;
    /*transition:all 0.5s ease-in-out ;*/
}

.sidebar-list
{
    width: 100%;
    height: calc(100% - 12rem);
    overflow: hidden;
    position: relative;
    /*background-color: gold;*/

}

.sidebar-list-inner{
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    width: calc(100% + 1.3rem);
    height: 100%;
}

.toptitle
{
    width: calc(100% - var(--sidebarwidth) + 10px);
    position: fixed;
    top: 0;
    right:0;
    transition: all 0.3s;
}
.long {
    width: 100%;
}

.tipsbox
{
    max-width: 55vw;
    margin-top: 10vh;
}
.col-top-15px
{
    margin-top: 15px;
/*    display:block;
    float:none;
    width:100%;*/
}

.col-bottom-40px
{
    margin-bottom: 40px;
}
.page-width
{
    max-width: 60vw;
    margin: auto;
}
.page-start
{
    margin-top: 10vh;
}

.small-font{
    font-size:0.7em;
    height: 100%;
}

.inner-showpages-sidebar-open
{
    margin-left:0;
    padding-left: 0;
    width: 99%
}

.inner-showpages-sidebar-close
{
    margin:auto;
    padding:auto;
    width: 99%
}


@media screen and ( max-aspect-ratio:16/16	)
{
    .tipsbox
    {
        max-width: 80vw;
    }

    .page-width
    {
        max-width: 80vw;
    }
}

@media screen and ( max-aspect-ratio:10/16	)
{
    .tipsbox
    {
        max-width: 98vw;
    }

    .page-width
    {
        max-width: 98vw;
    }

    .showpages-sidebar-open
    {
    }
}
@media screen and ( max-aspect-ratio:12/9	)
{
    .toptitle
    {
        /*width: calc(100% );*/
    }

    .showpages
    {
        margin:auto;
        width:100%;
        left:0;
        top:76px;
    }
    .sidebar-list
    {
        height: calc(100% - 7rem);

    }

    .showpages-sidebar-open
    {

    }

    .showpages-sidebar-close
    {
    }

}
